<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <withJansi>true</withJansi>

        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <timestampPattern>[ISO_OFFSET_DATE_TIME]</timestampPattern>
            <fieldNames>
                <thread>thread</thread>
                <logger>logger</logger>
                <version>[ignore]</version>
                <levelValue>[ignore]</levelValue>
            </fieldNames>
        </encoder>
    </appender>
    <logger name="com.zaxxer.hikari.pool" level="DEBUG" />
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
